snippet rest "quick start"
http://localhost:3005/wp-json/ct/v1
Content-Type: application/json; charset=utf-8
--

--
# admin auth: admin:123
Authorization: Basic YWRtaW46MTIz

POST /url
{
	"body": {}
}
endsnippet

